@import "./base.css";

#app {
  display: flex;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

hr {
  border-color: var(--color-accent);
}

.btn {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 2px;
  /* margin-bottom: 6px; */
  margin: 0 6px;
  background-color: var(--color-bkgnd-item);
  color: var(--color-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-bkgnd-item-hover);
}

.btn-w {
  width: 134px;
}

.btn:first-child {
  margin-left: 0;
}

.btn:last-child {
  margin-right: 0;
}

.btn:disabled {
  opacity: 0.5;
  cursor: unset;
}

.btn:disabled:hover {
  background-color: var(--color-bkgnd-item);
}

.btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

/* .btn:hover:enabled {
  background-color: lightgray;
} */

.input-control {
  display: flex;
  flex-direction: column;
  /* width: 140px; */
}

.input-control label {
  font-size: 12px;
}

.input-control .input {
  width: 134px;
  height: 25px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: none;
  border-bottom: 1px solid var(--color-accent);
  /* padding: 0 6px; */
  margin-bottom: 10px;
  background-color: var(--color-bkgnd-item);
  color: var(--color-text);
}

.input-control .input:focus {
  background-color: var(--color-bkgnd-item-hover);
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
